#title{
  position:sticky;
  top:0px;
  left:20px;
  width:fit-content;
  height: 12vh;
  margin: 0px 0px;
  padding: 0px 0px;
  background-color: white;
  z-index: 100;
}

#columnContainer{
  margin-left:15px;
  width:fit-content;
  height: 85vh;
  width: max-content;
}
.column {
    position: static;
    width: auto;
    height: 100%;
    padding: 0px 0px;
    margin: 0px 0px;
    float: left;
  }


  #textInput {
    position: relative;
    left:-100px;
    top: -15%;
  }

  .wordButtons{
    position: static;
    display: block;
    background-color: rgba(255, 255, 255, 0);
    color:black;
    border: 0px solid rgba(255, 255, 255, 0);
    margin-right: 100%;
    -ms-transform: translateX(-50%);
    transform: translateX(50%);
    margin-left: auto;
  }

  .wordButtons:hover{
    display: block;
    font-size: x-large;
    color:black;
    border: 0px solid white;
    transform: translateX(-3%);
    opacity: 1;
  }